# -*- python -*-
# Copyright (c) Aaron Gallagher <_@habnab.it>; Weasyl LLC
# See COPYING for details.

import elastirc

from twisted.application import internet, service
from twisted.internet import ssl, reactor
from twisted.python import filepath

class Elastirc(elastirc.ElastircProtocol):
    nickname = 'elastirc'
    channel = '#elastirc-test'

class ElastircFactory(elastirc.ElastircFactory):
    protocol = Elastirc

application = service.Application("elastirc")

elasticSearch = elastirc.NiceBulkingElasticSearch()
elasticSearch.failedBulkDataDirectory = 'bulk-failures'
internet.TimerService(600, elasticSearch.forceBulk).setServiceParent(application)
reactor.addSystemEventTrigger('before', 'shutdown', elasticSearch.forceBulk, evenOnOneOperation=True)

elastircFac = ElastircFactory(filepath.FilePath('logs'), elasticSearch)
sslFac = ssl.ClientContextFactory()
internet.SSLClient('irc.esper.net', 6697, elastircFac, sslFac).setServiceParent(application)
